body {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: x-large;
  margin: 0px;
  background-color: #282828;
  color: white;
}
button {
  margin: 16px;
  padding: 10px;
  width: 300px;
  background-color: rgba(0, 255, 255, 0.67);
  color: white;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font: inherit;
  text-transform: uppercase;
  border-radius: 6px;
  border: none;
}
#startsession, #skipintro, #pauseresume, #startbreathingin, #replayround2, #replayround3 {
  display: none;
}
@media (min-height: 1200) and (orientation: portrait) {
  body { font-size: x-large; }
}
@media (min-height: 1600) and (orientation: portrait) {
  body { font-size: xx-large; }
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
}
.vertical-centered {
  margin: auto;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  max-width: 80vh;
}
.container {
  height: 100vh;
  position: relative;
  text-align: center;
}
#controls-container {
  height: 100px;
}
.disabled-events {
  pointer-events: none;
}
#cboxlabel {
  cursor: pointer;
  display: none;
  width: 320px;
}
input[type=checkbox] {
  cursor: pointer;
  filter: grayscale(100%) invert(80%);
  width: 16px;
  height: 16px;
}
input[type=checkbox]:hover {
  filter: invert(80%);
}
input[type=checkbox]:checked {
  filter: grayscale(100%) ;
}
.disabled-textselection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
